li {
    display: block;
    position: relative;
    width: 100px;
}

ul.sous_menu {
    display: none;
}

li:hover>a,
li:hover {
    color: rgb(0, 247, 255);
    background-color: rgb(147, 171, 218);
}

a:link,
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

li:hover>ul.sous_menu {
    display: block;
    position: absolute;
    top: -25px;
    left: 80%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titre {
    margin-left: 2%;
    margin-top: 4%;
    color: white;
    font-weight: 700;
    font-size: 40px;
}


.button {
    margin-left: 2%;
    margin-top: 20px;
    text-align: left;
    color: white;
    background: rgba(110, 109, 109, 0.3);
    border-radius: 6px;
    padding: 7px;
    width: 180px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.subButton {
    margin-left: 2%;
    margin-top: 10px;
    text-align: left;
    color: white;
    text-decoration-color: white;
    background: rgba(110, 109, 109, 0.3);
    border-radius: 6px;
    padding: 7px;
    width: 180px;
    font-size: 18px;
    text-decoration: none;
}